<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.js Course | <%= title %>
    </title>
    <link rel="stylesheet" href="/index.css">

</head>

<body>
    <%- include('./partials/nav.ejs') %>
        <div class="container">
            <h1>PERSONAL BLOG</h1>
            <h3>Build with Node.js Express, EJS, MongoDB</h3>
        </div>
</body>

</html>