body {
    padding: 0px;
    margin: 0px;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin: 0;
}

ul li {
    display: inline;
    margin: 20px 50px;
    font-size: 20pt;
}

ul li a {
    text-decoration: none;
    color: #fff;
}

nav {
    background-color: rgb(28, 99, 104);
}

.container {
    height: 92.4vh;
    background-color: rgb(31, 218, 218);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}